force-app/main/default/My_Trailhead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>My Trailhead Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Trailhead Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Support_Tier_Config</name>
        <label>Get Support Tier Config</label>
        <locationX>178</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Gold_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Support_Tier__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Gold_Accounts</name>
        <label>Update Gold Accounts</label>
        <locationX>178</locationX>
        <locationY>404</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Spending__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Support_Tier_Config.Minimum_Spending__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Tier__c</field>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Get_Support_Tier_Config</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
